.ciwcamp-hide-description
{
	display: none;
	margin-left:20px;
}
.ciwcamp-card-width
{
	width:100%!important;
}
.ciwcamp-dropdown
{
	width:100px!important;
}
.sidebar-fixed ul li {
    width: 100%;
}
.list-group-item.active {
	color: #212529!important;
	border-color: #4cb5ab!important;
}
.list-group-item {
	background-color: #e5e5e5!important;
	color: rgb(8 115 105)!important;
	font-weight: 700;
	border: none !important;;
}
.text-blue{
	color: #1c2a48!important;
}
.ciwcamp-secondary-color {
    background-color: #087369!important;
}
#footer-thankyou {
    display: none !important;
}


